{% extends 'base.html' %}
{% load static %}
{% block title %}repost{% endblock %}
  {% block content %}
  <h2>reposting from {{ original_post.user }}</h2>
    <div class="original-post" style="font-size: 1em;color: black;">
      <i>{{ original_post.user }}:  <strong>{{ original_post.what}}</strong><br>
      {{ original_post.why }}</i>
    </div><br>
  <form action="{% url 'repost' original_post.id %}" method="post" novalidate class="postform">
        {% csrf_token %}
    <div class="row col-100">
        {{ form.why }}
    </div>{{ form.original_post.as_hidden }}{{ form.url.as_hidden }}{{ form.what.as_hidden }}{{ form.user.as_hidden }}
    <div class="row tabs col-100">
        <label class="tab" for="id_superlike">
          {{ form.superlike }}
          <div class="tab-box"><img src="{% static 'starsmile.png' %}" height="16px"></div></label>
        {% for radio in form.category %}
        <label class="tab" for="{{ radio.id_for_label }}">
        {{ radio.tag }}
          <div class="tab-box">{{ radio.choice_label }}</div>
        </label>
    {% endfor %}
    </div>
    <div class="row ">
        <input id="post-button" type="submit" value="Post">
    </div>
    </form>
    {% endblock %}
