{% extends 'base.html' %}
{% load static %}
{% block title %}feed{% endblock %}
{% load static %}
  {% block content %}
  <div class="backlink"><a href="{% url 'item-lists' %}"> <- back to your lists</a></div><br>
  <h1>{{ item_list.name }}</h1>
  <div class="row">
      <button class="search-button">
      <a href="{% url 'edit-item-list' item_list.id %}">edit name</a></button>
      {% if not item_list.is_default %}
        <button class="search-button">
        <a href="{% url 'delete-item-list' item_list.id %}">delete list</a></button>
      {% endif %}
        </div><br>
      {% include 'items/item_feed.html' %}

    {% endblock %}
