{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'mansions.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'mansionsfavicon.ico' %}" >
        <title>MANSIONS - shows</title>
    </head>

    <body>
        <h1>SHOWS</h1>
        We have played {{ total_shows }} shows in {{ distinct_cities }} cities.<br>
        The largest was in Detroit with Taking Back Sunday and Bayside on 10/7/2012 (2800 people).<br>
        The smallest was in Cleveland with The Lives Of Famous Men and James McGrurer on 3/8/2009 (1 bartender).
        <ul>
            <li>Top States:
            <ul>
                {% for s in shows_by_state %}
                <li>{{ s.state }}: {{ s.count }}</li>
                {% endfor %}
            </ul>
            </li>
            <li>Top Cities:
            <ul>
                {% for s in shows_by_city %}
                <li>{{ s.city }}: {{ s.count }}</li>
                {% endfor %}
            </ul>
            </li>
            <li>Top Venues:
            <ul>
                {% for s in shows_by_venue %}
                <li>{{ s.venue }} ({{ s.city }}, {{s.state}}): {{ s.count }}</li>
                {% endfor %}
            </ul>
            </li>
            <li>Shows By Year:
            <ul>
                {% for s in shows_by_year %}
                <li>{{ s.year }}: {{ s.count }}</li>
                {% endfor %}
            </ul>
            </li>
        </ul>
        <table>
            <tr>
                <td><strong>DATE</strong></td>
                <td><strong>CITY</strong></td>
                <td><strong>VENUE</strong></td>
                <td><strong>OTHER ACTS</strong></td>
            </tr>
            {% for show in shows %}
              <tr>
                <td width=100>
                    {{ show.show_date|date:"Y-m-d" }}
                </td>
                <td>
                    {{ show.city }}, {{ show.state }}
                </td>
                <td>
                    {% if show.note %}
                        <div class='tooltip'>
                            {{  show.venue }}
                            <span class='tooltiptext'>
                            {{ show.note|safe }}
                            </span>
                        </div>
                    {%  else %}
                        {{  show.venue }}
                    {%  endif %}
                </td>
                <td>
                    {% if show.other_acts %}
                        {{ show.other_acts }}
                    {%  endif %}
                </td>
              </tr>
            {% endfor %}
        </table>
        <br><br>
    <a href="{% url 'mansions' %}">back</a>


    </body>

</html>
