{% extends 'base.html' %}
{% block title %}search people{% endblock %}
  {% block content %}
  <h2>search people</h2>
  <div class="row">
        <button class="tertiary-button"><a href="{%url 'search-items' %}">stuff</a></button>
        <button class="tertiary-button-disabled">people</button>
        <button class="tertiary-button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div>
  <div class="row">
  <div class="row">
<form action="{% url 'search-users' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search by name or full email"
  />
</form>
</div>
{% if users %}
  {% for user in users %}
      {% include 'users/user-card.html' %}
    {% endfor %}
{% elif query == '' %}
  search for somebody above
{% else %}
  nothing to see here!
{% endif %}
{% endblock %}