{% extends 'base.html' %}
{% block title %}search people{% endblock %}
  {% block content %}
  <h1>search</h1>
  <div class="row">
        <button class="search-button"><a href="{%url 'search-items' %}">stuff</a></button>
        <button class="search-button disabled">people</button>
        <button class="search-button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div><br>
  <div class="row">
<form action="{% url 'search-users' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search by name or full email"
    {% if query %}value = "{{ query }}"{% endif %}
  />
</form>
</div>
{% if users %}
  <table>
  {% for user in users %}
      {% include 'users/user-card.html' %}
    {% endfor %}
  </table>
{% elif query == '' %}
  search for somebody above
{% else %}
  nothing to see here!
{% endif %}
{% endblock %}