{% extends 'base.html' %}
{% block title %}search people{% endblock %}
  {% block content %}
  <h2>search</h2>
  <div class="row">
        <button class="button"><a href="{%url 'search-posts' %}">rex</a></button>
        <button class="button disabled">people</button>
        <button class="button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div>
  <div class="row">
  <div class="row">
<form action="{% url 'search-users' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search by name or full email"
  />
</form>
</div>

{% for user in users %}
    {% include 'users/user-card.html' %}
  {% endfor %}
{% endblock %}