{% extends 'base.html' %}

{% block title %}search posts{% endblock %}
  {% block content %}
  <h1>search</h1>
  <div class="row">
        <button class="tertiary-button-disabled">rex</button>
        <button class="tertiary-button"><a href="{%url 'search-users' %}">people</a></button>
        <button class="tertiary-button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div>
  <div class="row">
<form action="{% url 'search-posts' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search some text"
  />
</form>
</div>
<br><br>

{% include 'posts/feed.html' %}
{% endblock %}