{% extends 'base.html' %}
{% load static %}

{% block title %}search stuff{% endblock %}
  {% block content %}
  <h1>search</h1>
  <div class="row">
        <button class="search-button disabled">stuff</button>
        <button class="search-button"><a href="{%url 'search-users' %}{% if query %}?q={{ query }}{% endif %}">people</a></button>
        <button class="search-button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div><br>
  <div class="row">
<form action="{% url 'search-items' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search some text"
    {% if query %}value = "{{ query }}"{% endif %}
  />
</form>
</div>
<div class="row summary-card">
  <stat-type>posts:</stat-type> {{ stats.count }}
</div>
<div class="row summary-card">
<stat-type>ratings:</stat-type> {{ stats.ratings }}
</div>
<div class="row summary-card">
<stat-type>avg rating:</stat-type>
{% if stats.avg_rating >= 4.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif stats.avg_rating >= 3.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif stats.avg_rating >= 2.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif stats.avg_rating >= 1.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif stats.avg_rating %}
                <img src="{% static 'starsmall.png' %}" height="14px">
            {% else %}
              n/a
            {% endif %}
</div>
<br>
{% include 'items/item_feed.html' %}
{% endblock %}