{% extends 'base.html' %}

{% block title %}search stuff{% endblock %}
  {% block content %}
  <h2>search</h2>
  <div class="row">
        <button class="tertiary-button-disabled">stuff</button>
        <button class="tertiary-button"><a href="{%url 'search-users' %}">people</a></button>
        <button class="tertiary-button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div>
  <div class="row">
<form action="{% url 'search-items' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search some text"
  />
</form>
</div>
<br><br>

{% include 'items/item_feed.html' %}
{% endblock %}