{% extends 'base.html' %}

{% block title %}search stuff{% endblock %}
  {% block content %}
  <h1>search</h1>
  <div class="row">
        <button class="search-button disabled">stuff</button>
        <button class="search-button"><a href="{%url 'search-users' %}">people</a></button>
        <button class="search-button"><a href="{%url 'suggested' %}">people you might know</a></button>
  </div><br>
  <div class="row">
<form action="{% url 'search-items' %}" method="get">
  <input
    type="search"
    name="q"
    placeholder="search some text"
  />
</form>
</div>
<br><br>

{% include 'items/item_feed.html' %}
{% endblock %}