{% extends 'base.html' %}
{% block title %}people you might know{% endblock %}
  {% block content %}
  <h1>people you might know</h1>
<div class="row center">
  <a href="{% url 'home' %}"><button class="primary-button">take me to the feed</button></a>
</div><br>
<table>
{% for user in users %}
    <tr>
      <td class="postcard">
        <div class="col-70">
        <div class="row">
          <a href="{% url 'user' user %}">
          <div class="name">{{ user }}</div>
          </a>
        </div>
        <div class="row">
          <div class="review">
            {{ user.bio|lower|default:'no bio :(' }}
          </div>
        </div>
      </div>
      <div class="col-30">
                <button class="search-button followbutton" id="followbutton{{user}}" data-username="{{ user }}" style="float: right;">{% if user.is_private %}request{% else %}follow{% endif %}</button>
          </div>
      </td>
      </tr>
  {% endfor %}
</table>
<div class="row">
<a href="{% url 'search-users' %}"><button class="secondary-button">search for others</button></a>
</div>
{% endblock %}