
/* latin */
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sono/v6/aFTO7PNiY3U2Cqf_aYEN64CYaK18YUhIma9UZrHl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sono/v6/aFTO7PNiY3U2Cqf_aYEN64CYaK18YUhIma9UZrHl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: black;
  font-family: 'Sono';
  color: white;
}

h1, h2, h3 {
  font-family: 'VT323';
}

main {
    max-width:65ex;
    margin: auto;
}


* {
  box-sizing: border-box;
}

h1 {
  text-shadow: 1px 1px #00ff11;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  font-weight: bold;
  text-transform: lowercase;
  text-shadow: 0.5px 0.5px #00ff11;
  color: white;
  text-align: left;
  font-size: 1.3em;
  padding-bottom: 0em;
  margin-bottom: 0.4em;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0.1em;
  margin-top: 0em;
  letter-spacing: 0.2em;
}


.bio {
    font-style: italic;;
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px;
}

input[type=text], select, textarea, input[type=search], input[type=password], input[type=date] {
  width: 100%;
  appearance: textfield;
  padding: 5px;
  border: 1px solid #00ff11;
  border-radius: 4px;
  resize: none;
  background-color: black;
  font-family: 'Sono';
  font-size: 1em;
  text-transform: lowercase;
  color:#00ff11;
  margin-bottom: 0.5em;
}

select {
  appearance: none;
  cursor: pointer;
}

::placeholder {
  color: #007808;
}

.error, input[type=text].error {
  border: 2px solid red;
}

.container {
  border: dotted 1px white;
  background-color: black;
  padding: 3%;
  margin-bottom: 1em;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 3px;
  word-break: break-all;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 3px;
  word-break: break-all;
  padding-right: 0.4em;
}

.col-20-nm {
  float: left;
  width: 20%;
  height: 100%;
  word-break: break-word;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 3px;
  word-break: break-word;
}

.col-25-nm {
  float: left;
  width: 25%;
  word-break: break-word;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 3px;
  word-break: break-all;
}

.col-70 {
  width: 70%;
  float: left;
  margin-top: 3px;
  word-break: break-all;
}

.col-75 {
  width: 75%;
  float: left;
  margin-top: 3px;
  word-break: break-word;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 3px;
  word-break: break-all;
}

.col-60 {
  float: left;
  width: 60%;
  margin-top: 3px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 3px;
}

.col-80 {
  float: left;
  width: 80%;
  margin-top: 3px;
}

.col-85 {
  float: left;
  width: 85%;
  margin-top: 3px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
*/

@media screen and (max-width: 600px) {
  #post-button {
    width: 100%;
    height: 2em;
  }
  .primary-button {
    width: 100%;
    height: 2em;
  }
  .secondary-button {
    position: relative;
    height: 2em;
    width: 50%;
    left:-25%;
  }
}
*/

.header {
    font-weight: bold;
}

.header breadcrumb {
    text-align: left;
    font-size: 16px;
}

.header user_greeting {
    float: right;
    font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.postcard {
    border: 1px dotted white;
    position: relative;
    margin: auto;
    background-color: black;
    padding: 0.2em 0.5em 0.5em 0.5em;
}

.activity-card {
    border: 1px dotted white;
    min-height:7ex;
    position: relative;
    margin: auto;
    padding: 0.5em;
    background-color: black;
}

.unseen {
  font-weight: bold;
}

.userinfo {
    margin-bottom: 10px;
}

.name {
  font-weight: bold;
  color: #00ff11;
  font-family: 'VT323';
  font-size: 1.3em;
  word-break: break-word;
  margin-top: 0px;
  margin-bottom: 0.1em;
  text-decoration: none;
}

.name a {
  color: #00ff11;
  text-decoration: none;
}

.mention {
  color: cyan;
  text-decoration: underline wavy 0.8px;
  -webkit-text-decoration: underline wavy 0.8px;
  font-weight: bold;
}

.tabs {
  display: flex;
  background-color: black;
  border: 1px solid #00ff11;
  border-radius: 5px;
  font-size: 1.3em;
  font-family: 'VT323';
  color: #00ff11;
  margin-bottom: 0.5em;
}

.tabs > .tab {
  flex: 1;
  display: flex;
}

.tab > .tab-input {
  width: 0;
  height: 0;
  margin: 0;
  display: none;
}

.tab > .tab-box {
  padding: .3rem;
  width: 100%;
  text-align: center;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 5px;
}

.tab > .tab-input:checked + .tab-box {
  background: #00ff11;
  color:black;
  border-color: #00ff11;
}

.time-since {
    font-size: 0.8em;
    position:absolute;
    bottom:0.6em;
    right:0.6em;
    color:gray;
}

.dropdown, .dropdown-full {
  display: inline-block;
  position: relative;
  font-family: 'VT323';
  font-size: 1.2em;
  padding: 5px;
  background-color: black;
  border: dotted 1px white;
  float: left;
  margin-right:1%;
  word-break: break-all;
  margin-top: 5px;
}

.dropdown-full {
  width: 100%;
}

.dropdown {
  width: 50%;
  margin-right: 0;
}

.dropbtn {
  border: 0px;
  background: none;
  font-family: 'VT323';
  font-size: 1.2em;
  color:#00ff11;
}

.dropdown-options {
  list-style-type: none;
  display: none;
  position: absolute;
  border: dotted 1px white;
  font-size: 1.2em;
  left: 0%;
  overflow: auto;
  background-color: black;
  padding: 10px;
  line-height: 4ex;
  width: 100%;
  z-index:1;
}

.dropdown-options a {
  display: block;
  text-decoration: none;
  color:#00ff11;
}

.show {display:block;}


.primary-button {
  margin-bottom: 0px;
  margin-top: 8px;
  text-align: center;
  border-radius: 5px;
  float: right;
  padding:0.2em 1em;
  margin-right:0px;
  font-size: 1.5em;
}

.secondary-button {
  background: none;
  border: none;
  float: right;
  margin-top: 0.3em;
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
  float: right;
  color: white;
  font-family: 'VT323';
}

.tertiary-button {
  text-align: center;
  border-radius: 5px;
  padding: 0.2em;
  margin-bottom: 0.3em;
  display: inline;
}

.search-button {
  margin-bottom: 0px;
  margin-top: 8px;
  padding:0.1em 0.5em;
  margin-right:0px;
  font-size: 1.3em;
}

.primary-button, .tertiary-button, .search-button {
  border-left: solid 2px white;
  border-top: solid 2px white;
  border-bottom: solid 2px #808080;
  border-right: solid 2px #808080;
  background-color: #b8b8b8;
  color: black;
  font-family: 'VT323';
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  text-decoration: none;
}

.primary-button a, .tertiary-button a, .search-button a {
  text-decoration: none;
  color: black;
}

.disabled, .pressed {
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  border-top: solid 2px #808080;
  border-left: solid 2px #808080;
  background-color: #a6a6a6;
}

.disabled {
  cursor: default;
}

.smalllink {
  font-size: 0.8em;
  float: right;
  margin-top: 5px;
}

.backlink {
  font-size: 0.8em;
  float: left;
  margin-top: 5px;
}

.pagination {
  font-size: 0.8em;
  margin-top: 5px;
  text-align: center;
}

.list-name {
  padding: 0em;
  padding-right: 3px;
  cursor: pointer;
  border:dotted 0px white;
  font-family: 'VT323';
  font-size:1em;
  color: #878787;
  background-color: black;
  word-break: break-word;
}

.item-type {
  color: cyan;
  text-transform: uppercase;
  font-family: 'VT323';
  font-size: 1.3em;
  cursor: pointer;
  border: 0px;
  padding: 0px;
  background: none;
  cursor: default;
  float: right;
}

.vertical-center {
  padding:0.5em;
}

.user-name {
  background-color: black;
  margin-top: 1em;
  text-align: left;
  padding: 0px;
  padding-right: 3px;
  font-size:1.1em;
  cursor: pointer;
  border-radius: 5px;
  border:solid 0px black;
  font-family: 'VT323';
  color: #ff85de;
}

a {
  color: #00ff11;
}

.rating {
  color: #878787;
  text-align: right;
  margin-top:0.5em;
  font-size:1em;
  font-size:0.8em;
  font-style: italic;
}

.summary-rating {
  color: #878787;
  text-align: right;
  font-size:0.8em;
  font-style: italic;
  line-height: 1.7em;
}

.since-finished {
  color: #878787;
  font-size:0.8em;
  word-break: break-word;
  display: inline;
}

.actions {
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size:0.8em;
  margin:auto;
  right: 7px;
  bottom: 3px;
  position:absolute;
}

.center {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: square;
}

li {
  font-size: 1em;
  margin: 0.5em;
}

.review {
  color: white;
  font-size: 0.85em;
  word-break: break-word;
  margin-bottom: 2em;
}

.likebutton {
  width: 3.2em;
}

input[type="checkbox"] {
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  border-radius: 0.15em;
  margin-top: 1em;
}

footer {
  margin-top: 5em;
  font-size: 0.5em;
  float: right;
}

.word-break {
  word-break: break-word;
}

.ui-autocomplete {
    position: absolute;
    color: #00ff11;
    z-index: 1000;
    float: left;
    display: none;
    padding: 4px 0;
    list-style: none;
    background-color: black;
    border: solid 1px #00ff11;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.3em;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: black;
    background-color: #00ff11;
    cursor: pointer;
}

.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



.summary-card {
  border-left: solid 2px white;
  padding-left: 0.5em;
  padding-right: 0.2em;
  word-break: break-word;
  margin-bottom: 0.4em;
}

.stat-bar {
  text-decoration: none;
  color: white;
}

.stat-bar:hover {
  color: #00ff11
}

stat-type {
  font-family: 'VT323';
  font-size: 1.3em;
}

hr.stats {
  border: dotted 0.7px white;
}

.ui-menu .ui-menu-icon {
  left: auto;
  right: 0;
}
.ui-datepicker {
  width: 20em;
  padding: .2em .2em 0;
  display: none;
  background-color: black;
  font-size: 1.1em;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  font-size: 0.9em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 1em;
}
.ui-datepicker .ui-datepicker-next {
  right: 1em;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1em;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1em;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -1em;
  top: 50%;
  margin-top: -1em;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.item-card-right {
  float: left;
  width: 6em;
  margin-top: 3px;
  min-height: 5.3em;
}


.item-card-left {
  float: left;
  width: calc(100% - 6em);
  margin-top: 3px;
  word-break: break-word;
}

.item-card-bottom-left {
  float: left;
  position:absolute;
  bottom:5px;
}


.popular-left {
  float: left;
  width: calc(100% - 85px);
  margin-top: 3px;
  word-break: break-word;
}

.popular-right {
  float: left;
  width: 85px;
  text-align: right;
  margin-top: 3px;
  word-break: break-word;
  position: relative;
}

.item-tag {
  color: cyan;
  text-decoration: none;
}
