body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  padding: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
}

td {
  padding: 10px;
  margin: auto;
  border-bottom: 1px solid gray;
  alignment
}

a {
  color: lightgreen;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  padding-right: 8px;
  font-weight: bold;
}

.cover {
  width: 150px;
  height: 150px;
}

.bigcover {
  width: 300px;
  height: 300px;
}

.hero-gif {
  max-width: 100%;
}

.album-type {
  color: gray;
  line-height:1.5em;
  font-size: 0.8em;
}

.back-link {
  padding-bottom: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-weight: bold;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  font-weight: normal;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.legend {
  display: inline-block;
  border: 0px;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right:5px;
  margin-bottom:10px;
  }

details {
    margin-bottom: 1em;
    font-family: sans-serif;
  }

  summary {
    cursor: pointer;
    font-weight: bold;
  }

  details[open] summary::after {
    content: " ▲";
  }

  summary::after {
    content: " ▼";
  }

tr.S:hover {background-color: #64A6BD;}
tr.D:hover {background-color: #FDCFF3;}
tr.TG:hover {background-color: #BBBDF6;}
tr.GD:hover {background-color: #EEEEFF;}
tr.T:hover {background-color: #A1CF6B;}
tr.GBK:hover {background-color: #D4E09B;}
tr.F:hover {background-color: #F39C6B;}
