{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Sono:wght@300;700&family=VT323&display=swap" rel="stylesheet">
        <title>REX: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header class="header">
          {% if request.user.is_authenticated %}
            <breadcrumb>
              <a href="{%url 'home'%}" class="logo">FEED</a>
              <a href="{%url 'items' %}" class="logo">MINE</a>
              <a href="{%url 'item-lists' %}" class="logo">LISTS</a>
              <a href="{%url 'search-items' %}" class="logo">SEARCH</a>
              </breadcrumb>
          <user_greeting>
            {% if has_new_activity %}
                    <strong><a href="{% url 'activity' request.user %}">**{{ request.user|upper }}**</a></strong>
            {% else %}
                    <a href="{% url 'activity' request.user %}">{{ request.user|upper }}</a>
            {% endif %}
          </user_greeting>
          {% endif %}
        </header>
        <main>
            <div class="w3-container">
              {% if messages %}<br>
                {% for message in messages %}
                  <div class="alert alert-{{message.tags}}">
                         {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            
             {%block content %}
             {%endblock content%}
            </div>
        </main>
        <footer class="footer">
        </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'main.js' %}"></script>

    </body>

</html>
