{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Sono:wght@300;700&family=VT323&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %} on recs w/ friends</title>
    </head>

    <body>
        <header class="header">
            <breadcrumb>
              <a href="{%url 'home'%}" class="logo">FEED</a>
              <a href="{%url 'saves' %}" class="logo">SAVES</a>
              <a href="{%url 'search_posts' %}" class="logo">SEARCH</a>
              </breadcrumb>
          {% if request.user.is_authenticated %}
          <user_greeting>
            {% if include_logout %}
              <a href="{% url 'logout' %}">logout</a>
            {% elif has_new_activity %}
                    <strong><a href="{% url 'activity' request.user %}">**{{ request.user }}**</a></strong>
            {% else %}
                    <a href="{% url 'activity' request.user %}">{{ request.user }}</a>
            {% endif %}
          </user_greeting>
          {% endif %}
            </div>
        </header>
        <main>
            <div class="w3-container">
              {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
                 {{message}}
               </div>
             {% endfor %}
        {% endif %}
            
             {%block content %}
             {%endblock content%}
            </div>
            <script type="text/javascript">
  function clicked(e)
    {
        if(!confirm('Are you sure?')) {
            e.preventDefault();
        }
    }
</script>
        </main>
        <footer class="footer">
        </footer>
    </body>

</html>