{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>  
        <title>REX: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header class="header">
          {% if request.user.is_authenticated %}
          <div class="navbar">
          <user_greeting>
            <a href="{% url 'user' request.user %}">{{ request.user|upper }}</a>
          </user_greeting>
            <breadcrumb>
              <a href="{%url 'home'%}" class="logo">HOME</a>
              <a href="{%url 'item-add' %}" class="logo">POST</a>
              <a onclick="openSearch()" class="search-header">SEARCH</a>
              {% if has_new_activity %}
                    <strong><a href="{% url 'activity' %}">*ACTIVITY*</a></strong>
                {% else %}
                    <a href="{% url 'activity' %}">ACTIVITY</a>
                {% endif %}
              </breadcrumb>
      </div>
              <div class="search-box" id="searchBox">
              <form action="{% url 'search-items' %}" method="get">
                  <input
                    type="search"
                    id="search-box"
                    name="q"
                    placeholder="search"
                    {% if query %}value = "{{ query }}"{% endif %}
                  />
                </form>
            </div>
          {% endif %}
        </header>
        <main>
            <div class="w3-container">
              {% if messages %}<br>
                {% for message in messages %}
                  <div class="alert alert-{{message.tags}}">
                         {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            
             {%block content %}
             {%endblock content%}<br><br><br>
            </div>
            <div class="navbar-bottom">
              <a href="{%url 'home'%}" class="logo"><img src="{% static 'home.png' %}" height="24px"></a>
              <a onclick="openSearch()" class="search-header"><img src="{% static 'search.png' %}" height="24px"></a>
              <a href="{%url 'item-add'%}" class="logo"><img src="{% static 'plus.png' %}" height="24px"></a>
              {% if has_new_activity %}
                <a href="{%url 'activity' %}" class="logo"><img src="{% static 'heart.png' %}" height="24px"></a>
              {% else %}
                <a href="{%url 'activity' %}" class="logo"><img src="{% static 'heart-empty.png' %}" height="24px"></a>
              {% endif %}
              <a href="{%url 'user' request.user %}" class="logo"><img src="{% static 'me.png' %}" height="24px"></a>
              </div>
        </main>
        <footer class="footer">
            <br><br>
        </footer>    
        <script src="{% static 'main.js' %}"></script>

    </body>

</html>
