{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Sono:wght@300;700&family=VT323&display=swap" rel="stylesheet">
        <title>REX: welcome</title>
    </head>

    <body>
 
        <main>
            <div class="w3-container">
              <div class="row">
<h1>welcome to REX WITH FRIENDS</h1>
<br>

<h2>PRIVACY POLICY</h2>
<ol>
    <li>we don't track your usage via cookies or anything else.</li>
    <li>we don't sell your data or give it to third parties.</li>
    <li>we don't contact you via email. your email address is only used as ownership of your data (e.g. posts, likes, etc)</li>
</ol>
    </body>

</html>
