{% extends 'base.html' %}
{% load static %}
{% block title %}feed{% endblock %}
{% load static %}
  {% block content %}
<h1>this is only a test</h1>
  <form action="" method="post" novalidate class="postform">
        {% csrf_token %}
    <div class="row tabs">
        {% for radio in form.item_type %}
        <label for="{{ radio.id_for_label }}">
        {{ radio.tag }}
          <div class="tab-box col-25-nm">{{ radio.choice_label|upper }}</div>
        </label>
        {% endfor %}
    </div>

    <div class="row ">
        <input class="primary-button" type="submit" value="save">
    </div>
    </form>

            <form method="POST" action="{% url 'delete-item' item.id %}?from=items" style="display:inline;">
              {% csrf_token %}
      <div class="row">
          <button class="secondary-button" type="submit" onclick="clicked(event)">delete</button>
      </div>
            </form>
    {% endblock %}
