{% extends 'base.html' %}
{% load static %}
{% block title %}edit {{item.name}}{% endblock %}
{% block content %}
  <h1>{{ item.name }}</h1>
  <form action="{% url 'edit-item' item.id %}" method="post" novalidate class="postform">
        {% csrf_token %}
    <div class="row">
      <div class="col-30 vertical-center word-break">hide from others:</div>
      <div class="col-70">{{ form.hide_from_feed }}</div>
    </div>
    <div class="row">
        <input class="primary-button" type="submit" value="save">
    </div>
    </form>
    <a href="{% url 'delete-item' item.id %}"><button class="secondary-button">delete</button></a>
{% endblock %}
