{% extends 'base.html' %}
{% load static %}
{% load url_mention %}
{% block title %}feed
{% endblock %}
  {% block content %}
  <h1>REX with FRIENDS</h1>
  <h2>most posted recently:</h2>
      {% for pi in popular %}
      <div class="row summary-card">
        <div class="popular-left">
          <a href="{% url 'search-items' %}?q={{pi.name}}&mode=strict">{{ pi.name}}</a>: {{ pi.total}} posts
        </div>
        <div class="item-card-right">
          <div class="rating" >
            {% if pi.avg_rating >= 4.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating >= 3.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating >= 2.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating >= 1.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating %}
                <img src="{% static 'starsmall.png' %}" height="14px">
            {% else %}
              no ratings
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
{% if highest_rated %}
<br>
<h2>highest rated recently:</h2>
        {% for pi in highest_rated %}
      <div class="row summary-card">
        <div class="popular-left">
          <a href="{% url 'search-items' %}?q={{pi.name}}&mode=strict">{{ pi.name}}</a>: {{ pi.total}} ratings
        </div>
        <div class="item-card-right">
          <div class="rating">
            {% if pi.avg_rating >= 4.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating >= 3.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating >= 2.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating >= 1.5 %}
                <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif pi.avg_rating %}
                <img src="{% static 'starsmall.png' %}" height="14px">
            {% else %}
              no ratings
            {% endif %}
          </div>
        </div>
      </div>
        {% endfor %}
    <br>
{% endif %}

      {% include 'items/item_feed.html' %}

    {% endblock %}