{% extends 'base.html' %}
{% load static %}
{% block title %}feed{% endblock %}
{% load static %}
  {% block content %}
  <form action="" method="post" novalidate class="postform">
        {% csrf_token %}{{ form.user.as_hidden }}
    </div>
    <div class="row">
      <div class="col-100" style="padding-right: 2px;">
        {{ form.name }}
      </div>
    </div>
        {{ form.review }}
    </div>
    <div>
        Started:
    </div>
    <div>
        {{ form.started_date }}
    </div>
    <div>
        Finished/Quit:
    </div>
    <div>
        {{ form.ended_date }}
    </div>
    <div class="row tabs col-100">
        <label class="tab" for="{{ form.rating.1.id_for_label }}">
        {{ form.rating.1.tag }}
          <div class="tab-box"><img src="{% static 'starsmall.png' %}" height="14px"></div>
        </label>
        <label class="tab" for="{{ form.rating.2.id_for_label }}">
        {{ form.rating.2.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
        <label class="tab" for="{{ form.rating.3.id_for_label }}">
        {{ form.rating.3.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
        <label class="tab" for="{{ form.rating.4.id_for_label }}">
        {{ form.rating.4.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
        <label class="tab" for="{{ form.rating.4.id_for_label }}">
        {{ form.rating.5.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
    </div>
    <div class="row ">
        <input id="post-button" type="submit" value="finished it">
    </div>
      <div class="row">
          <button class="secondary-button" type="submit" formaction="?status=abandoned">quit it</button>
      </div>
    </form>
    {% endblock %}
