{% load url_mention %}
{% load tz %}
{% load static %}
      <div class="postcard">
          <div class="row">
            <div class="col-85">
            {% if item.status == 3 %}✅
            {% elif item.status == 4 %}❌
            {% endif %}
                {% if item.user == request.user %}
                  <a href="{% url 'edit-item' item.id %}">
                {% else %}
                  <a href="{% url 'view-item' item.id %}">
                {%  endif %}
                <what>{{ item.name}}</what></a>
            <category>{{ item.item_type }}</category>
            </div>
          <div class="col-15">
          {% if item.ended_date %}
          <div class="time-since-item">
          {% if item.rating == 1%}
              <img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 2 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 3 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 4 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 5 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% endif %}{{ item.ended_date|timesince }} ago</div>
          {% else %}
          <div class="time-since-item">{{ item.created|timesince }} ago</div>
          {% endif %}
          </div>
        </div>
        <div class="row">
          {% if item.rating == 1%}
              <img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 2 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 3 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 4 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 5 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% endif %}
          {% if item.ended_date %}
            <why>{{ item.review|lower|striptags|url_mention }}</why>
          {% else %}
            <why>{{ item.note|lower|striptags|url_mention }}</why>
          {% endif %}
        </div>
        <div class="row">
          {% if item.status == 1 %}
            <form method="POST" action="{% url 'start-item' item.id %}?from=items" style="display:inline;">
              {% csrf_token %}
              <input type="submit" class="button" value="start" onclick="clicked(event)" />
            </form>
          {% endif %}
          {% if item.ended_date is None %}
            <form method="GET" action="{% url 'finish-item' item.id %}" style="display:inline;">
              <input type="submit" value="finish" />
            </form>
            <form method="POST" action="{% url 'delete-item' item.id %}?from=items" style="display:inline;">
              {% csrf_token %}
              <input type="submit" class="button" value="delete" onclick="clicked(event)" />
            </form>
            {% endif %}
        </div>
      </div>