{% load static %}
{% block content %}
<div class="row">
  {% if selected_status is None and selected_item_type is None and selected_list is None %}
  <strong><a>ALL</a></strong>
  {% else %}
  <a href ="{% url 'items' %}">ALL</a>
  {% endif %}
  {% for status in statuses %}
        {% if selected_status == status.1|lower %}
          <strong><a href="?{{ item_type_param }}{{ item_list_param }}&status={{ status.0 }}{{ query_param }}">{{ status.1|upper }}</a></strong>
        {% else %}
          <a href="?{{ item_type_param }}{{ item_list_param }}&status={{ status.0 }}{{ query_param }}">{{ status.1|upper }}</a>
        {% endif %}
      {% endfor %}
</div>
<div class="row">
  <div class="dropdown">
    {% if selected_item_type %}
      <button onclick="openType()" class="dropbtn">{{ selected_item_type|upper }} ⌄</button>
      <div class="dropdown-options" id ="typeDropdown">
      <li><a href="?{{ status_param }}{{ item_list_param }}{{ query_param }}">ALL</a></li>
    {% else %}
      <button onclick="openType()" class="dropbtn">TYPE ⌄</button>
      <div class="dropdown-options" id ="typeDropdown">
    {% endif %}
      {% for item_type in item_types %}
        {% if selected_item_type != item_type.1|lower or selected_item_type is None %}
          <li><a href="?{{ status_param }}{{ item_list_param }}&item_type={{ item_type.1|lower }}{{ query_param }}">{{ item_type.1|upper }}</a></li>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% if show_lists %}
    <div class="dropdown">
    {% if selected_item_list %}
      <button onclick="openList()" class="dropbtn">{{ selected_item_list.name|upper }} ⌄</button>
      <div class="dropdown-options" id ="listDropdown">
      <li><a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}">ALL</a></li>
    {% else %}
      <button onclick="openList()" class="dropbtn">LIST ⌄</button>
      <div class="dropdown-options" id ="listDropdown">
    {% endif %}
      {% for item_list in item_lists %}
        {% if selected_item_list.name != item_list.name or selected_item_list is None %}
          <li><a href="?{{ status_param }}{{ item_type_param }}&item_list={{ item_list.id }}{{ query_param }}">{{ item_list.name|upper }}</a></li>
        {% endif %}
      {% endfor %}
    </div>
  </div>
<div class="row">
  <a class="smalllink" href="{% url 'create-item-list' %}">create new list</a>
</div>
{% else %}
</div>
{% endif %}
  {% if items %}
    {% for item in items %}
      {% include 'items/item_card.html' %}
    {% endfor %}
  {% else %}
    nothing to see here!
  {% endif %}
  {% if items.has_next %}
    <a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}&page={{ items.next_page_number }}">more</a>
  {% endif %}
    {% endblock %}
