{% load url_mention %}
{% load tz %}
{% load static %}
<tr>
<td class="postcard">
  <div class="row">
    <div class="col-20">
      <div class="row">
        <button class="item-type">{{ item.item_type }}</button>
      </div>
      <div class="row"><br>
        {% if item.user == request.user and item.item_list %}
          <a href="{% url 'view-item-list' item.item_list.id %}"><button class="list-name">{{ item.item_list }}</button></a>
        {% elif item.user != request.user %}
          <a href="{% url 'user' item.user %}"><button class="user-name">{{ item.user }}</button></a>
        {% endif %}
      </div>
    </div>
    <div class="col-50">
      <div class="row">
        <div class="name">
          {% if item.user == request.user %}
            <a href="{% url 'edit-item' item.id %}">{{ item.name}}</a>
          {% else %}
            <a href="{% url 'view-item' item.id %}">{{ item.name}}</a>
          {%  endif %}
        </div>
      </div>
      <div class="row">
        <div class="review">
          {% if item.ended_date %}
            {{ item.review|lower|striptags|url_mention }}
          {% else %}
            {{ item.note|lower|striptags|url_mention }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-30">
      <div class="row">
        <div class="rating">
            {% if item.rating == 1%}
              <img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 2 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 3 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 4 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.rating == 5 %}
              <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
            {% elif item.status == 2 %}
              {{ item.item_type|itemtypeverb}} now
            {% elif item.status == 1 %}
              saved {{item.last_date|dayssince}}
            {% elif item.status == 4 %}
              quit {{item.last_date|dayssince}}
            {% endif %}
        </div>
      </div>
      <div class="row"><br>
        <div class="actions">
          {% if item.user == request.user %}
            {% if item.status == 1 %}
              <button class="tertiary-button startbutton" id="start{{item.id}}" data-catid="{{ item.id }}">start</button>
            {% elif item.status == 2 %}
              <button type="disabled" class="tertiary-button-disabled" />start</button>
            {% endif %}
            {% if item.ended_date is None %}
                <form method="GET" action="{% url 'finish-item' item.id %}?from={{ from }}" style="display:inline;">
                  <button type="submit" class="tertiary-button"/>stop</button>
                </form>
            {% endif %}
          {% else %}
            <button class="tertiary-button"><a href="{% url 'save-item' item.id %}?from={{ from }}">save</a></button>
            <button class="tertiary-button likebutton" id="like{{item.id}}"data-catid="{{ item.id }}">{{ item.like_button }}</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</td>
</tr>
          