{% load static %}
{% block content %}
{% if from != 'home' %}
  <div class="row">
    {% if selected_status is None and selected_item_type is None and selected_list is None %}
    <strong><a>ALL</a></strong>
    {% else %}
    <a href ="?status={{ query_param }}">ALL</a>
    {% endif %}
    {% for status in statuses %}
      {% if selected_status == status.1|lower %}
        <strong><a href="?{{ item_type_param }}{{ item_list_param }}&status={{ status.0 }}{{ query_param }}">{{ status.1|upper }}</a></strong>
      {% else %}
        <a href="?{{ item_type_param }}{{ item_list_param }}&status={{ status.0 }}{{ query_param }}">{{ status.1|upper }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
<div class="row">
  {% if show_lists %}
    <div class="dropdown">
  {% else %}
    <div class="dropdown-full">
  {% endif %}
    {% if selected_item_type %}
      <button onclick="openType()" class="dropbtn">{{ selected_item_type|upper }} ⌄</button>
      <div class="dropdown-options" id ="typeDropdown">
    {% else %}
      <button onclick="openType()" class="dropbtn">TYPE ⌄</button>
      <div class="dropdown-options" id ="typeDropdown">
    {% endif %}
      <li><a href="?{{ status_param }}{{ item_list_param }}{{ query_param }}">ALL</a></li>
      {% for item_type in item_types %}
        {% if selected_item_type != item_type.1|lower or selected_item_type is None %}
          <li><a href="?{{ status_param }}{{ item_list_param }}&item_type={{ item_type.1|lower }}{{ query_param }}">{{ item_type.1|upper }}</a></li>
        {% endif %}
      {% endfor %}
      </div> <!-- dropdown-options -->
  </div> <!-- dropdown -->
  {% if show_lists %}
  <div class="dropdown">
    {% if selected_item_list %}
      <button onclick="openList()" class="dropbtn">{{ selected_item_list.name|upper }} ⌄</button>
    {% else %}
      <button onclick="openList()" class="dropbtn">LIST ⌄</button>
    {% endif %}
    <div class="dropdown-options" id ="listDropdown">
    <li><a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}">ALL</a></li>
    {% for item_list in item_lists %}
      {% if selected_item_list.name != item_list.name or selected_item_list is None %}
        <li><a href="?{{ status_param }}{{ item_type_param }}&item_list={{ item_list.id }}{{ query_param }}">{{ item_list.name|upper }}</a></li>
      {% endif %}
    {% endfor %}
    </div> <!-- dropdown-options -->
  </div> <!-- dropdown -->
  <div class="row">
    <a class="smalllink" href="{% url 'create-item-list' %}">create new list</a>
  </div>
{% endif %}
</div><br>
  {% if items %}
  <table>
    {% for item in items %}
      {% include 'items/item_card.html' %}
    {% endfor %}
  </table>
  {% elif is_search and query == '' %}
    search something above
  {% elif from == 'home' %}
    <br>nothing here yet!<br><br>
    go <a href="{%url 'suggested' %}">find some people to follow</a> and start <a href="{% url 'items' %}">logging your stuff</a>!
  {% else %}
    nothing to see here!
  {% endif %}
  {% if items.has_previous or items.has_next %}
    <div class="pagination">
  {% endif %}
  {% if items.has_previous %}
    {% if items.previous_page_number != 1 %}
      <a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}&page=1">first</a>
    {% endif %}
    <a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}&page={{ items.previous_page_number }}">previous</a>
  {% endif %}
  {% if items.has_next %}
    <a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}&page={{ items.next_page_number }}">next</a>
    {% if items.paginator.num_pages != items.next_page_number %}
      <a href="?{{ status_param }}{{ item_type_param }}{{ query_param }}&page={{ items.paginator.num_pages }}">last</a>
    {% endif %}
  {% endif %}
  {% if items.has_previous or items.has_next %}
    </div>
  {% endif %}
    {% endblock %}
