{% load url_mention %}
{% load tz %}
{% load static %}
      <div class="postcard">
          <div class="row">
            <div class="col-85">
              {{ item.status|statustoemoji }}
                {% if item.user == request.user %}
                  <a href="{% url 'edit-item' item.id %}">
                {% else %}
                  <a href="{% url 'view-item' item.id %}">
                {%  endif %}
                <what>{{ item.name}}</what></a>
            <category>{{ item.item_type }}</category>
            </div>
            {% if item.rating %}
              <div class="userbadge">
               {% if item.rating == 1%}
                  <img src="{% static 'starsmall.png' %}" height="14px">
                {% elif item.rating == 2 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% elif item.rating == 3 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% elif item.rating == 4 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% elif item.rating == 5 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% endif %}
              </div>
            {% endif %}
          <div class="col-15">
            <div class="time-since">{{ item.status|statustoaction }} {{ item.last_date|dayssince }}</div>
          </div>
        </div>
        <div class="row">
          {% if item.ended_date %}
            <why>{{ item.review|lower|striptags|url_mention }}</why>
          {% else %}
            <why>{{ item.note|lower|striptags|url_mention }}</why>
          {% endif %}
        </div>
        <div class="row">
          {% if item.status == 1 %}
            <form method="POST" action="{% url 'start-item' item.id %}?from=items" style="display:inline;">
              {% csrf_token %}
              <input type="submit" class="button" value="start" onclick="clicked(event)" />
            </form>
          {% endif %}
          {% if item.ended_date is None %}
            <form method="GET" action="{% url 'finish-item' item.id %}" style="display:inline;">
              <input type="submit" value="finish" />
            </form>
            {% endif %}
        </div>
      </div>