{% load static %}
  {% block content %}
  <form action="{% url 'items' %}?from={{ from }}" method="post" novalidate class="postform" name="mainform" onsubmit="return validateForm()">
        {% csrf_token %}{{ form.user.as_hidden }}{{ form.original_item.as_hidden }}
      <div class="row tabs">
          {% for radio in form.item_type %}
            <label class="tab" for="{{ radio.id_for_label }}">
              {{ radio.tag }}
              <div class="tab-box">{{ radio.choice_label|upper }}</div>
            </label>
          {% endfor %}
      </div>
    <div class="row">
        {{ form.name }}
    </div>
    <div class="row form-author">
        {{ form.author }}
    </div>
    <div class="row">
      <div class="col-100">
        {{ form.note }}
      </div>
    </div>
    <div class="row">
      <div class="col-100">
        {{ form.item_list }}
      </div>
    </div>
    <div class="row ">
        <input class="primary-button" type="submit" value="save for later" >
    </div>
      <div class="row">
          <button class="secondary-button" type="submit" formaction="{% url 'items' %}?status=done&from={{ from }}">finished it</button>
      </div>
    </form>
    {% endblock %}
