{% extends 'base.html' %}
{% load static %}
{% block title %}feed{% endblock %}
{% load static %}
  {% block content %}
  <h1>Done with {{ form.name.value }}</h1>

  <form action="" method="post" novalidate class="postform">
        {% csrf_token %}{{ form.user.as_hidden }}{{ form.item_type.as_hidden }}
    <div class="row">
        {{ form.name }}
    </div>
    {% if form.item_type.value == 'BOOK' %}
      <div class="row">
          {{ form.author }}
      </div>
    {% endif %}
    <div class="row">
        {{ form.note }}
    </div>
  <div class="row">
    <div class="tabs">
        <label class="tab" for="{{ form.rating.1.id_for_label }}">
        {{ form.rating.1.tag }}
          <div class="tab-box"><img src="{% static 'starsmall.png' %}" height="14px"></div>
        </label>
        <label class="tab" for="{{ form.rating.2.id_for_label }}">
        {{ form.rating.2.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
        <label class="tab" for="{{ form.rating.3.id_for_label }}">
        {{ form.rating.3.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
        <label class="tab" for="{{ form.rating.4.id_for_label }}">
        {{ form.rating.4.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
        <label class="tab" for="{{ form.rating.5.id_for_label }}">
        {{ form.rating.5.tag }}
          <div class="tab-box">
            <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
        </div>
        </label>
    </div>
  </div>
    <div class="row">
      <div class="col-30 vertical-center">started:</div>
      <div class="col-70">{{ form.started_date }}</div>
    </div>
    <div class="row">
      <div class="col-30 vertical-center">ended:</div>
      <div class="col-70">{{ form.ended_date }}</div>
    </div>
    <div class="row">
      <div class="col-30 vertical-center word-break">hide from others:</div>
      <div class="col-70">{{ form.hide_from_feed }}</div>
    </div>
    <div class="row ">
        <input class="primary-button" type="submit" value="finished it">
    </div>
      <div class="row">
          <button class="secondary-button" type="submit" formaction="?status=abandoned">quit it</button>
      </div>
    </form>
    {% endblock %}
