{% extends 'base.html' %}
{% load static %}
{% load url_mention %}
{% block title %}my stats
{% endblock %}
  {% block content %}
    <h1>my stats</h1>
<div class="container">
    <h3>finished this year</h3>
    {% for item_type in item_types_count %}
      <div class="row">
        <div class="col-15">
          <stat-type>{{ item_type.item_type|lower}}</stat-type>
        </div>
        <div class="col-85">
          {% for item in items %}{% if item.item_type == item_type.item_type %}<a href="{% url 'view-item' item.id %}" class="stat-bar">-</a>{% endif %}{% endfor %} {{ item_type.count}}
        </div>
      </div>
    {% endfor %}
  </div>
<div class="container">
    <h3>AVERAGE RATING</h3>
    {% for item_type in item_types_rating %}
      <div class="row">
        <div class="col-15">
          <stat-type>{{ item_type.item_type|lower}}</stat-type>
        </div>
        <div class="col-85">
          {{ item_type.rating|ratingtobar }} {{ item_type.rating|floatformat:1 }}
        </div>
      </div>
    {% endfor %}
</div>

<br><br>
    {% for month in months %}
<div class="container">
      <h3>{{ month|date:"F" }}</h3>
      {% for item_type in item_type_months %}
        {% if item_type.month == month %}
          <div class="row">
            <div class="col-15">
              <stat-type>{{ item_type.item_type|lower }}</stat-type>
            </div>
            <div class="col-85">
              {% for item in items %}
                {% if item.month == month and item.item_type == item_type.item_type %}
                  <div class="row">- <a href="{% url 'view-item' item.id %}" style="text-decoration: none;">{{ item }}</a>
                    {% if item.rating %}
                      {{ item.rating }}
                      {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}
  {% endblock %}