{% extends 'base.html' %}
{% load static %}
{% load url_mention %}
{% block title %}{{ item.name }}{% endblock %}
  {% block content %}
  <h1>{{ item.name }}</h1>
  {% if item.user == request.user %}
    <button class="search-button"><a href="{% url 'edit-item' item.id %}">edit</a></button>
    <button class="search-button"><a href="{% url 'delete-item' item.id %}">delete</a></button><br><br>
  {% endif %}
  <table>
    {% include 'items/item_card.html' %}
  </table>
<br><div class="comment-count">
<a href="{% url 'search-items' %}?q={{item.name}}&mode=strict">
{% if other_ratings.ratings == 0 %}
posted by {{ other_ratings.count }} other{% if other_ratings.count != 1 %}s{% endif %}, no ratings</a>
{% else %}
posted by {{ other_ratings.count }} other{% if other_ratings.count != 1 %}s{% endif %}, {{other_ratings.ratings}} rating{% if other_ratings.ratings != 1 %}s{% endif %}</a>:
{% endif %}
  {% if other_ratings.avg_rating < 1.5%}
                  <img src="{% static 'starsmall.png' %}" height="14px">
                {% elif other_ratings.avg_rating < 2.5 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% elif other_ratings.avg_rating < 3.5 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% elif other_ratings.avg_rating < 4.5 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                {% elif other_ratings.avg_rating >= 4.5 %}
                  <img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px"><img src="{% static 'starsmall.png' %}" height="14px">
                  {% endif %}
                </div>
<br>
  <form action="{% url 'view-item' item.id %}" method="post" novalidate class="postform" name="commentform" onsubmit="return validateCommentForm()">
        {% csrf_token %}{{ form.user.as_hidden }}{{ form.item.as_hidden }}
    <div class="row">
        {{ form.body }}
    </div>
    <div class="row ">
        <input class="primary-button" type="submit" value="comment" >
    </div>
    </form>
    {% if comments %}
      <br>
      <table>
      {% for comment in comments %}
        <tr>
          <td class="activity-card">
            <table>
              <tr>
                <td>
                  <div class="comment">{{ comment.body|lower|striptags|url_mention }}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td class="item-card-bottom-left">
                        <a href="{% url 'user' comment.user %}"><button class="user-name">{{ comment.user }}</button></a>
                        <div class="since-finished">
                          {{ comment.created|timesince }} ago
                        </div>
                      </td>
                      <td class="actions">
                        <button class="tertiary-button replybutton" type="submit" onClick="reply()" data-username="{{comment.user}}">reply</button>
                        {% if request.user == comment.user or request.user == item.user %}
                            <form method="POST" action="{% url 'delete-comment' comment.id %}" style="display: inline;">
                              {% csrf_token %}
                              <button class="tertiary-button" type="submit">delete</button>
                            </form>
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
        </td>
      </tr>
      {% endfor %}
      </table>
    {% endif %}
    {% endblock %}

