{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}

  {% block content %}
    <h2>{{ user.username }}</h2>
    <div class="row">
      <div class="col-100">
        <li><a href="{% url 'user' request.user %}">view my public profile</a>
        <li><a href="{% url 'follow-requests' request.user %}">
          {% if follow_request_count == 1 %}<strong> 1 new follow request</strong>
          {% elif follow_request_count > 1 %}<strong> {{ follow_request_count }} new follow requests</strong>
          {% else %}no new follow requests
          {% endif %}
        </a>
      </div>
    </div><br>
    {% if activities %}
      {% for activity in activities %}
        {% if activity.original_seen %}
          <div class="activity-card">
        {% else %}
          <div class="activity-card unseen">
        {% endif %}
            <div class="row">
            {% if activity.follow %}
              <a href="{% url 'user' activity.follow.user %}">
                {{ activity.follow.user }}</a> followed you.
            {% elif activity.follow_request %}
              <a href="{% url 'user' activity.follow_request.following %}">
                {{ activity.follow_request.following }}</a> approved your follow request.
            {% elif activity.repost %}
              <a href="{% url 'user' activity.repost.user %}">
                {{ activity.repost.user }}</a> reposted your post about 
                <a href="{% url 'post' activity.repost.id %}">{{ activity.repost.what }}</a>.
            {% elif activity.saved_post %}
              <a href="{% url 'user' activity.saved_post.user %}">
                {{ activity.saved_post.user }}</a> saved your post about 
                <a href="{% url 'post' activity.saved_post.id %}">{{ activity.saved_post.post.what }}</a>.
            {% endif %}
            <div class="row"><br>
                <div class="time-since">{{activity.created|timesince}} ago.</div>
            </div>
          </div>
        </div>
      {% endfor %}
  {% if activities.has_next %}
    <a href="?page={{ activities.next_page_number }}">more</a>
  {% endif %}
    {% else %}
      No follows or reposts yet. Don't worry, the internet is meaningless!
    {% endif %}
  {% endblock %}