{% extends 'base.html' %}
{% load url_mention %}
{% block title %}{{ user.username }}{% endblock %}

  {% block content %}
    {%if user.username %}
    <h1>{{ user.username }}</h1>
    <div class="row">
      <div class="col-100">
        {% if user.is_private %}
            {% if follow_request_count == 1 %}<a href="{% url 'follow-requests' %}"><button class="secondary-button">1 new follow request</button></a>
            {% elif follow_request_count > 1 %}<a href="{% url 'follow-requests' %}"><button class="secondary-button">{{ follow_request_count }} new follow requests</button></a>
            {% else %}no new follow requests
            {% endif %}
        {% endif %}
      </div>
    </div><br>
    {% if activities %}
      {% for activity in activities %}
        {% if activity.original_seen %}
          <div class="activity-card">
        {% else %}
          <div class="activity-card unseen">
        {% endif %}
            <div class="row">
            {% if activity.action == 'follow' %}
              <a href="{% url 'user' activity.follow.user %}">
                {{ activity.follow.user }}</a> followed you.
            {% elif activity.action == 'follow_request' %}
              <a href="{% url 'user' activity.follow_request.user %}">
                {{ activity.follow_request.user }}</a> requested to follow you.
            {% elif activity.action == 'follow_request_approved' %}
              <a href="{% url 'user' activity.follow_request.following %}">
                {{ activity.follow_request.following }}</a> approved your follow request.
            {% elif activity.action == 'item_mention' %}
              <a href="{% url 'user' activity.item.user %}">
                {{ activity.item.user }}</a> mentioned you in a post about 
                <a href="{% url 'view-item' activity.item.id %}">{{ activity.item.name }}</a>.
            {% elif activity.action == 'item_like' %}
              <a href="{% url 'user' activity.item_like.user %}">
                {{ activity.item_like.user }}</a> liked your post about 
                <a href="{% url 'view-item' activity.item.id %}">{{ activity.item.name }}</a>.
            {% elif activity.action == 'item_save' %}
              <a href="{% url 'user' activity.item.user %}">
                {{ activity.item.user }}</a> saved your post about 
                <a href="{% url 'view-item' activity.item.id %}">{{ activity.item.name }}</a>.
            {% elif activity.action == 'item_comment' %}
              <a href="{% url 'user' activity.comment.user %}">
                {{ activity.comment.user }}</a> commented on your post about 
                <a href="{% url 'view-item' activity.item.id %}">{{ activity.item.name }}</a>.
            {% elif activity.action == 'item_comment_mention' %}
              <a href="{% url 'user' activity.comment.user %}">
                {{ activity.comment.user }}</a> mentioned you in a comment about 
                <a href="{% url 'view-item' activity.item.id %}">{{ activity.item.name }}</a>.
            {% elif activity.action == 'comment_like' %}
              <a href="{% url 'user' activity.comment_like.user %}">
                {{ activity.comment_like.user }}</a> liked your comment about 
                <a href="{% url 'view-item' activity.comment.item.id %}">{{ activity.comment.item.name }}</a>.
            {% endif %}
            <div class="row"><br>
                <div class="time-since">{{activity.created|mytimesince}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
  {% if activities.has_next %}
    <a href="?page={{ activities.next_page_number }}">more</a>
  {% endif %}
    {% else %}
      no follows or reposts yet. don't worry, the internet is meaningless!
    {% endif %}

    {% else %}
      <h1>hey!</h1>
      You don't have a username yet! <a href="{% url 'edit-user' %}">go fix that!</a>
      <br><br><br>you can also <a href="{%url 'logout' %}">logout</a> if you want.
    {% endif %}
  {% endblock %}