{% extends 'base.html' %}
{% block title %}{{ user.username }} {{ title }} {% endblock %}
  {% block content %}

  <h2>Follow Requests</h2>
  {% if follow_requests %}
    {% for request in follow_requests %}
    <div class="postcard">
	  <div class="row">
	    <a href="{% url 'user' request.user %}">
	    <what>{{ request.user }}</what>
	    </a>
	  </div>
	  <div class="row">
	      {{ user.bio|default:'no bio :(' }}
	  </div>
	  <div class="row">
	          <form method="POST" action="">
	          	<input type="hidden" name="follow_request_id" value="{{ request.id }}">
	            {% csrf_token %}
	              <input type="submit" style="display:inline;" name = 'response' value ='approve' />
	              <input type="submit" style="display:inline;" name = 'response' value ='deny' />
	          </form>
	      <div class="time-since">
	        requested {{ request.created|timesince }} ago
	      </div>
	  </div>
	</div>
    {% endfor %}
  {% else %}
    no pending requests!
  {% endif %}
{% endblock %}