{%extends 'base.html'%}

{%block content%}
  <div class="row">
	  <form method="post" class="card" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center">Log in to your account</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small> 
	        	{% endif %}
		{% endfor %}
		
        <input id="post-button" type="submit" value="login">
	</form>
</div>
<div class="row">
		<a href="{% url 'signup' %}">don't have an account yet? signup instead</a>
</div>

{%endblock content%}