<tr>
      <td class="postcard">
        <table>
          <tr>
            <td>
              <a href="{% url 'user' user %}">
                <div class="name">{{ user }}</div>
              </a>
              <div class="review">
                {{ user.bio|lower|default:'no bio :(' }}
              </div>
            </td>
            <td>
              {% if user != request.user %}
                <button class="search-button followbutton" id="followbutton{{user}}" data-username="{{ user }}" style="float: right;width: 5em;">{{user.button_text}}</button>
              {% endif %}
            </td>
          </tr>
        </table>
      </td>
      </tr>