{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.username }} {% endblock %}

  {% block content %}
  <h2>{{ user.username }}</h2>
  <div class="userinfo">
    <div class="row">
    {{ user.username }} has been here since {{ user.created|date:"m/d/y" }}
    {% if user.is_private == False or is_following or request.user == user %}
      <li><a href="{% url 'followers' user %}">followers</a>: {{ user.follower_count}}</li>
      <li><a href="{% url 'following' user %}">following</a>: {{ user.following_count}}</li>
    {%  else %}
      <li>followers: {{ user.follower_count}}</li>
      <li>following: {{ user.following_count}}</li>
    {% endif %}
   </div>
    <div class="row">
      <bio class="col-100">
        "{{ user.bio|lower|default:'no bio :(' }}"
      </bio>
    </div>
   <div class="row">
      {% if request.user != user %}
          <form method="POST" action="{% url 'user-follow' user.username %}">
            {% csrf_token %}
            {% if button_text == 'unfollow :(' %}
              <button type="submit" class="primary-button"  onclick="clicked(event)">{{ button_text }}</button>
            {% else %}
              <button type="submit" class="primary-button">{{ button_text }}</button>
            {% endif %}
          </form>
      {% endif %}
    </div>
  </div><br>
      {% if request.user == user or is_following or user.is_private == False %}
        {% include 'items/item_feed.html' %}
      {% else %}
        <img src="{% static 'locked.png' %}" height="16px"> {{ user.username }} is private, but you can still request to follow.
      {% endif %}
    {% endblock %}
