{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.username }} {% endblock %}

  {% block content %}
  <h1>{{ user.username }}</h1>
  <div class="bio">
    "{{ user.bio|lower|default:'no bio :(' }}"
  </div>
  <div class="row comment-count">
    {% if user.is_private == False or is_following or request.user == user %}
    <a href="{% url 'followers' user %}">followers</a>: <count id="followers">{{ user.follower_count}}</count>, <a href="{% url 'following' user %}">following</a>: {{ user.following_count}}
    {%  else %}
      followers: {{ user.follower_count}}, following: {{ user.following_count}}
    {% endif %}
  </div>
    {% if user == request.user %}
        <button class="search-button"><a href="{% url 'stats' %}">view stats</a></button>
        <button class="search-button"><a href="{% url 'edit-user' %}">edit profile</a></button>
        <button class="search-button"><a href="{%url 'logout' %}">logout</a></button><br>
    {% endif %}
   <div class="row">
      {% if request.user != user %}
            <button type="submit" class="primary-button followbutton" id="followbutton{{user}}" data-username="{{ user }}" style="min-width:6em;">{{ button_text }}</button>
      {% endif %}
    </div>
  </div><br>
      {% if request.user == user or is_following or user.is_private == False %}
        {% include 'items/item_feed.html' %}
      {% else %}
        <img src="{% static 'locked.png' %}" height="16px"> {{ user.username }} is private, but you can still request to follow.
      {% endif %}
    {% endblock %}
