{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Sono:wght@300;700&family=VT323&display=swap" rel="stylesheet">
        <title>REX: welcome</title>
    </head>

    <body>
 
        <main>
            <div class="w3-container">
              <div class="row">
<h1>welcome to REX WITH FRIENDS</h1>
<br>

<h2>GIVE YOURSELF A NAME</h2>
<div class="row">
  <form action="{% url 'welcome' %}" method="post" novalidate name="welcomeform" onsubmit="return validateForm()">
    {% csrf_token %}
    {{ form.as_p }}
    
        <input class="primary-button" type="submit" value="get started">
  </form>
            </div>
        </main>
<script type="text/javascript">
function validateForm() {
      let x = document.forms["welcomeform"]["username"].value;
      if (x == "") {
        alert("gotta have a username");
        return false;
      }
    }
   
</script>
    </body>

</html>
