
{% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
<h1>sunny</h1>
<h2>65 degrees</h2>

<table>
	<tr>
		<td>
			mon
		</td>
		<td>
			tues
		</td>
		<td>
			wed
		</td>
	</tr>
	<tr>
		<td>
			sunny
		</td>
		<td>
			cloudy
		</td>
		<td>
			rainy
		</td>
	</tr>
	<tr>
		<td>
			65/40
		</td>
		<td>
			40/32
		</td>
		<td>
			75/65
		</td>
	</tr>
</table>